body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #111;
    color: white;
}

.subtitle {
    color: crimson;
}

.section {
    margin: 60px auto;
    width: 80%;
}

h2 {
    color: crimson;
    border-left: 5px solid crimson;
    padding-left: 10px;
}

.visualizer {
    margin: 25px 0;
    padding: 20px;
    border: 2px solid #111;
    min-height: 120px;
    display: flex;
    align-items: center;
}

.array-box, .stack-box, .queue-box {
    display: flex;
    gap: 10px;
}

.box {
    padding: 15px 20px;
    border-radius: 8px;
    background: crimson;
    color: white;
    font-weight: bold;
}

.controls {
    margin-top: 15px;
}

input {
    padding: 10px;
    width: 150px;
}

button {
    padding: 10px 20px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background: crimson;
}
